# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

backend/node_modules
*.env

backend/node_modules/.bin/acorn
backend/node_modules/.bin/mime
backend/node_modules/.bin/nodemon
backend/node_modules/.bin/nodetouch
backend/node_modules/.bin/semver
backend/node_modules/.bin/ts-node
backend/node_modules/.bin/ts-node-cwd
backend/node_modules/.bin/ts-node-esm
backend/node_modules/.bin/ts-node-script
backend/node_modules/.bin/ts-node-transpile-only
backend/node_modules/.bin/ts-script
backend/node_modules/.bin/tsc
backend/node_modules/.bin/tsserver
backend/node_modules/.package-lock.json
backend/package-lock.json
backend/node_modules/.bin/ts-node-transpile-only
backend/node_modules/.bin/acorn
backend/node_modules/.bin/mime
backend/node_modules/.bin/nodemon
backend/node_modules/.bin/nodetouch
backend/node_modules/.bin/semver
backend/node_modules/.bin/ts-node
backend/node_modules/.bin/ts-node-cwd
backend/node_modules/.bin/ts-node-esm
backend/node_modules/.bin/ts-node-script
backend/node_modules/.bin/ts-node-transpile-only
backend/node_modules/.bin/ts-script
backend/node_modules/.bin/tsc
backend/node_modules/.bin/tsserver
backend/node_modules/.bin/tsc
backend/node_modules/.bin/tsserver
